#root {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  text-align: center;
  overflow: auto; }

.verify-code {
  position: absolute;
  right: 0;
  border-left: 1px solid #ddd; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
    margin: 180px auto 60px; } }
.modal-content {
  border-radius: 20px 20px 0 0; }
  .modal-content .modal-body {
    text-align: center; }

.modal-header {
  border: 0;
  background-color: #17324d;
  border-radius: 15px 15px 0 0; }
  .modal-header .modal-title {
    color: #fff;
    text-align: left; }
  .modal-header .close {
    margin-top: -2px;
    color: #fff;
    text-shadow: none;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    opacity: .8;
    outline: 0; }
    .modal-header .close:focus, .modal-header .close:hover {
      opacity: 1; }

.modal-footer {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.btn-mine {
  background-color: #17324d; }

.nav-tabs {
  text-align: center;
  border-bottom-width: 3px; }
  .nav-tabs li {
    display: inline-block;
    float: none;
    font-size: 0;
    margin: 0 30px;
    margin-bottom: -3px; }
    .nav-tabs li a {
      height: 60px;
      line-height: 60px !important;
      font-size: 20px;
      font-weight: 600;
      color: #999;
      border: 0;
      font-family: 'microsoft yahei'; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  border: 0;
  border-bottom: 3px solid #ea5504; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
  border-color: transparent; }

.logins {
  height: 35px;
  line-height: 35px;
  margin-top: 20px;
  padding-right: 100px;
  text-align: right; }
  .logins a {
    font-size: 13px;
    color: #e5b350;
    padding: 0 10px;
    text-decoration: none;
    outline: 0; }
    .logins a.admin {
      border-right: 1px solid #333; }
    .logins a:hover {
      color: #f7890c; }

.account .tab-pane ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .account .tab-pane ul li {
    height: 60px;
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.account .handle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .account .handle button {
    width: 100px;
    height: 36px;
    line-height: 36px;
    background-color: #ea5504;
    color: #fff;
    border-radius: 5px;
    border: 0;
    outline: 0;
    letter-spacing: 1px; }
    .account .handle button:hover {
      opacity: .8; }

#safe {
  width: 820px;
  margin: 60px auto; }
  #safe ul .null {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #safe ul .id {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #safe ul .information {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4; }

#third {
  width: 550px;
  margin: 60px auto; }
  #third ul li {
    margin-bottom: 20px; }
  #third ul .icon {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    #third ul .icon .fa {
      font-size: 40px;
      border: 1px solid #58bc46;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #58bc46; }
  #third ul .name {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  #third ul .bind {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

/*# sourceMappingURL=mine-accout-safe.css.map */